{% extends 'base.html'%} {% load static %} {% load i18n %}{% block content%}

<link rel="stylesheet" href="{% static 'CSS/homepage/homepage.css' %}" />
<img src="{% static 'images/homepage/intro bw.jpg' %}" id="first_image" />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<br /><br /><br />
<div id="intro_text">
  <div id="intro_title">
    <h1>{% trans "Welcome to The Gym Beach Palma"%}</h1>
    <h3>{% trans "Work out with a gorgeous view!"%}</h3>
  </div>
  <div id="intro_para">
    <!--have a feeling its because how the string is wrapped to the next line, research blocktrans-->
    <p>
      {% blocktrans %} The Gym Beach Palma is a local gym situated close to the beach of Arenal.
      Easily accessible through public transport, using the EMT lines 23,25 and 31! Easily walkable
      by many of the local hotels. {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %} We host a variety of machines to help you get your most optimal workout, not
      to mention, stunning views of the beach which you can go to right after you work up a sweat!
      {% endblocktrans %}
    </p>
  </div>
</div>
<br /><br />
<script src="{% static 'js/homepage/homepage.js' %}"></script>
<div id="section2">
  <div id="image_gallery">
    <button class="buttons" id="prev">&#10094;</button>
    <div id="slider_container">
      <img src="{% static 'images/homepage/gym gallery 1.jpeg' %}" class="slider-image" />
      <img src="{% static 'images/homepage/gym gallery 2.jpeg' %}" class="slider-image" />
      <img src="{% static 'images/homepage/gym gallery 3.jpeg' %}" class="slider-image" />
    </div>
    <button class="buttons" id="next">&#10095;</button>
  </div>
  <div id="news">
    <div id="news_border">
      <h2 id="news_title">News</h2>
      <ul>
        <li>
          <div class="news_info">
            <p>Change in opening hours! Click <a>here</a> to see</p>
            <p class="news_date">12/05/2024</p>
          </div>
        </li>
        <li>
          <div class="news_info">
            <p>New equipment arrived! Click <a>here</a> to see</p>
            <p class="news_date">25/08/2024</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div><p>reviews</p></div>
<!-- things to add: fitpoint inspired layout for text above, image gallery, news board, fake reviews?-->

{% endblock %}
<br /><br /><br />
