html {
  background-color: lightgray; /* Sets the background color for the entire page */
  height: 100%; /* Ensures the background covers the full height of the page */
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#base_nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
}

#base_nav_li {
  color: lightgray;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

footer {
  background-color: #1a1a1a;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}

#banner {
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#logo {
  height: 200px;
  width: auto;
}

#logo_div {
  display: flex;
  justify-content: center;
  align-content: center;
}

#menu-toggle{ 
  display:none
}
#footer_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#footer_image {
  height: 150px;
  width: auto;
}

#footer_number {
  font-size: x-large;
  color: #8eabce;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

#language_select{
  background-color: lightgray;
  padding:5%;
  font-weight: bold;
  color:#1a1a1a;
  font-size: large;
  border-radius: 5px;
  padding: 0% 10%;
  font-family: "Montserrat", sans-serif;
}

#language_option{
  background-color: #1a1a1a;
  color:#8eabce;
}

/* Screen size for split screen SMALL LAPTOP*/
/* also valid for tablet, likely small demographic*/ 
@media(max-width:800px) {
  #footer_image {
    height: 130px;

  }
}

/* Screen size for phones */
@media(max-width:400px) {

  #logo{
    height:100px;
  }

  #logo_div{
    display: flex;
    height:15vh;
    width:100%;
    border-bottom: #8eabce 2px solid;
    justify-content: space-between;
    background-color: #1a1a1a;
  }

  #logo_div.nav_open{
    position: fixed;
  }

  #nav_div{
    border-top: #8eabce 3px solid;
    height: 85vh; 
    right: -100vw; /*switch to 0 to make visible*/
    width: 100vw;
    position: fixed;
    top:15vh;
    display: flex;
    background-color: #1a1a1a;
    transition: right 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }

  #nav_div.nav_open{  
    right:0;
  }
  #base_nav{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #menu-toggle{
    display: block;
    height: 30px;
    width: 30px;
    align-self: center;
    margin-right:20px;
    color:lightgray;
    background-color: #1a1a1a;
  }

  #base_nav_li {
    text-align: center;
    text-decoration: underline;
    
  }

  #footer_layout{
    flex-direction: column;
  }
  #footer_image {
    height: 80px;
    width: auto;
  }
  #footer_number{
    margin-bottom: 30px ;
  }
}

/* Screen size for laptop
@media(max-width:1) {

}*/

