html {
  background-color: lightgray; /* Sets the background color for the entire page */
  height: 100%; /* Ensures the background covers the full height of the page */
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#base_nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
}

#base_nav_li {
  color: lightgray;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

footer {
  background-color: #1a1a1a;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}

#banner {
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#logo {
  height: 200px;
  width: auto;
}

#logo_div {
  display: flex;
  justify-content: center;
  align-content: center;
}

#footer_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#footer_image {
  height: 150px;
  width: auto;
}

#footer_number {
  font-size: x-large;
  color: #8eabce;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
