h1 {
  justify-self: center;
  font-family: "Kanit";
  font-size: xxx-large;
  font-style: italic;
}

h2 {
  font-family: "Kanit";
  color: #8eabce;
  font-size: xx-large;
}

h3 {
  font-family: "Kanit";
  font-size: xx-large;
}
h4 {
  font-size: large;
  font-style: italic;
  color: #8eabce;
}
#price_container {
  padding: 2%;
}

#members_prices {
  background-color: #1a1a1a;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
#price_box_container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.price_boxes {
  display: flex;
  flex-direction: column;
  background-color: #8eabce;
  flex: 1;
  aspect-ratio: 1;
  padding: 1%;
  font-family: "Roboto Slab";
  font-size: large;
  justify-content: flex-start;
  align-items: center;
}

.price_boxes_otp{
  font-size: x-large;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.price_boxes_rent{
  font-size: x-large;
  justify-content: center;
  aspect-ratio: initial;
  font-weight: bold;
}

/* Screen size for split screen SMALL LAPTOP*/
/* also valid for tablet, likely small demographic*/ 
@media(max-width:800px) {
h3{
  font-size: larger;
}
.price_boxes {
  font-size: medium;
}
.price_boxes_otp{
  font-size: medium;
}

.price_boxes_rent{
  font-size: medium;
}

#price_box_container {
  gap: 20px;
}

}

/* Screen size for phones */
@media(max-width:400px) {
  #price_box_container {
    flex-direction: column;
    gap: 20px;
  }
  h2{
    text-align: center;
  }
  
  .price_boxes {
    font-size: larger;
    margin: 3%;
    text-align: center;
    aspect-ratio:unset;
  }
  
  h3{
    font-size: x-large;
  }
}