{% extends 'base.html' %} {% load static %} {% load i18n %}{% block content %}

<link rel="stylesheet" href="{% static 'CSS/prices/prices.css' %}" />

<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<h1>{% trans "Pricing"%}</h1>
<div id="price_container">
  <div id="members_prices">
    <h2>{% trans "Membership plans for Regulars"%}</h2>

    <div id="price_box_container">
      <div class="price_boxes">
        <h3>{% trans "Initial Payment" %}: €{{initial_payment.price}}</h3>
        <p>{% trans "This is an obligatory payment that covers your gym chip and server fees"%}</p>
      </div>

      <div class="price_boxes">
        <h3>{% trans "Monthly Payments"%}</h3>
        {% for methods in monthly_payments %}
        <p>{% trans "Paying with" %} {{methods.get_payment_method_display}}: €{{methods.price}}</p> <!--using get_FOO_dispaly() :0 !-->
        {% endfor %}
      </div>

      <div class="price_boxes">
        <h3>{% trans "Extra Payments"%}</h3>
        {% for extras in extra_payments %}
        <p>{{extras.extra_service}}: €{{extras.price}}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <br /><br /><br /><br />

  <div id="members_prices">
    <h2>{% trans "Membership plans for travelers"%}</h2>
    <h4>{% trans "*The following prices are one time payments"%}</h4>

    <div id="price_box_container">
      {% for rates in one_time_payments %}
      <div class=" price_boxes price_boxes_otp" >
        <!-- prettier-ignore-start-->
        <!--very annoyingly long code for singular/plural fix-->
        <p>
          {{rates.days}}
          {% if rates.days == 1 %} 
          {% trans "day" %} 
          {% else %} 
          {% trans "days" %} 
          {% endif %}
          : €{{rates.price}}
        </p>
         <!-- prettier-ignore-end-->
      </div>
      {% endfor %}
    </div>
  </div>

  <br /><br /><br /><br />

  <div id="members_prices">
    <h2>{% trans "Renting equipment"%}</h2>

    <div id="price_box_container">
      {% for rentable in rent_costs %}
      <div class=" price_boxes price_boxes_rent">
        <p>{% trans "Renting a"%} {{rentable.rentable}}: €{{rentable.price}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
