/* css on different dimensions is hella buggy */

h1 {
  justify-self: center;
  font-family: "Kanit";
  font-size: xxx-large;
  font-style: italic;
}

h2 {
  font-family: "Kanit";
  font-size: xx-large;
}

.intro {
  background-color: #1a1a1a;
  color: #8eabce;
  padding: 3%;
}

.intro_text {
  font-family: "Roboto Slab";
  font-size: large;
}


#assistant_section {
  width: 100%;
}

.staff_row {
  display: flex;
}

.staff_column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.staff_column div.img_container {
  width: 70%;
  height: 70%;
  overflow: hidden;
  border: 5px inset #1a1a1a;
}

.staff_column div.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.staff_column p.name {
  font-family: "Kanit";
  font-size: x-large;
  font-weight: bold;
}

.staff_column p.role {
  font-family: "Roboto Slab";
  font-size: larger;
  font-style: italic;
  color: gray;
}

#pt_section {
  width: 100%;
  flex-direction: column;
}

.pt_container {
  display: flex;
  width: 100%;
}

.pt_container_reverse{
  flex-direction: row-reverse;
}
.pt_image {
  max-height: 95vh;
  width: 50%;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;

}
.pt_image img {
  height: 95%;
  width: auto;
  border: 20px solid #1a1a1a;
}
.pt_image_inverse{
  justify-content: flex-start;
}
.pt_text {
  height: min-content;
  width: 50%;
  display: flex;
  box-sizing: border-box;
  padding-right: 10%;
  padding-left: 2%;
  flex-direction: column;
  background-color: #1a1a1a;
  color: lightgray;
  align-self: center;
  text-align: justify;
}

.pt_text_inverse{
  padding-left: 10%;
  padding-right: 2%
}

.pt_text p.name {
  font-size: xx-large;
  font-family: "Kanit";
  font-style: italic;
  justify-self: center;
  font-weight: bold;
  color: #8eabce;
}

.pt_text p.inverse{
  text-align: right
}

.pt_text p.languages,
p.text {
  font-size: larger;
}

.pt_text p.number {
  justify-self: flex-start;
  font-family: "Roboto Slab";
  font-size: larger;
  font-weight: bold;
}


/* Screen size for split screen SMALL LAPTOP*/
/* also valid for tablet, likely small demographic*/ 
@media(max-width:1000px) {
.pt_image {
  max-height: 70vh;
}

.pt_text {
  max-height: 90vh;
  padding-right: 5%;
  padding-left: 2%;
}

.pt_text_inverse{
  padding-left: 5%;
  padding-right: 2%
}
.pt_text p.name {
  font-size: x-large;
}

  .pt_text p.languages,
p.text {
  justify-self: flex-start;
  font-family: "Roboto Slab";
  font-size: small;
  text-align: justify;
}

.pt_text p.number {
  font-size: medium;
}
}

/* Screen size for phones */
@media(max-width:400px) {
  .staff_row{
    flex-direction: column;
  }

  .staff_column p.name {
    margin-bottom: 0;
  }
  .staff_column p.role{
    margin-top: 0;
  }
  .pt_container{
    flex-direction: column;
  }

  .pt_image{
    max-height:60vh;
    width:auto;
    justify-content:center ;
  }
  .pt_image img{
    height:300px;
    width:auto;
  }

  .pt_text{
    width:90%;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pt_text p.inverse{
    text-align: left;
  }
  
}