{% extends 'base.html' %}{% load static %} {% load i18n %} {% block content %}
<link rel="stylesheet" href="{% static 'CSS/staff/staff.css' %}" />

<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<div >
  <h1>{% trans "Staff" %}</h1>

  <div id="assistant_section">
    <div class="intro">
      <h2>{% trans "Gym Assistants" %}</h2>
      <p class="intro_text">
        {% blocktrans %} 2 of the following staff members are always available to help out with any
        questions you have" {% endblocktrans %}
      </p>
    </div>
    <br /><br /><br /><br />
    <div class="staff_row">
      {% for member in staff %}
      <div class="staff_column">
        <div class="img_container"><img src="{{member.portrait.url}}" /></div>

        <p class="name">{{member.name}}</p>
        <p class="role">{{member.role}}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <br /><br /><br /><br />

  <div id="pt_section">
    <div class="intro">
      <h2>{% trans "Personal Trainers" %}</h2>
      <p class="intro_text">
        {% trans "The following are a list of licensed personal trainers our gym offers" %}
      </p>
    </div>

    <br /><br /><br />

    {% for trainer in personal_trainer %} {% if forloop.counter0|divisibleby:2 %}
    <!-- forloop used to mirror every other div for styling purposes-->
    <div class="pt_container">
      <div class="pt_image">
        <img src="{{trainer.portrait.url}}" />
      </div>
      <div class="pt_text">
        <p class="name">{{trainer.name}}</p>
        <p class="languages">{% trans "Languages" %}: {{trainer.languages}}</p>
        <p class="text">{{trainer.text}}</p>
        <p class="number">{% trans "Whatsapp Number" %}: {{trainer.whatsapp_number}}</p>
      </div>
    </div>

    {% else %}

    <div class="pt_container pt_container_reverse">
      <div class="pt_image pt_image_inverse" >
        <img src="{{trainer.portrait.url}}" />
      </div>
      <div class="pt_text pt_text_inverse" >
        <p class="name inverse">{{trainer.name}}</p>
        <p class="languages inverse" >{% trans "Languages" %}: {{trainer.languages}}</p>
        <p class="text">{{trainer.text}}</p>
        <p class="number inverse" >{% trans "Whatsapp Number" %}: {{trainer.whatsapp_number}}</p>
      </div>
    </div>
    {% endif %}
    <br /><br /><br />
    {% endfor %}
  </div>
</div>
{% endblock %}
