{% load static %}{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'CSS/global.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <title>The Gym Beach Palma</title>
  </head>

  <body>
    <div id="banner">
      <div id="logo_div">
        <img id="logo" src="{% static 'images/logo.png' %}" />
        <button id="menu-toggle">&#9776;</button> <!-- Hamburger icon -->
      </div>
      <div id="nav_div">
        <nav style="width:100%;">
          <ul id="base_nav">
            <li id="base_nav_li"><a href="{% url 'home' location %}">{% trans "Home"%}</a></li>
            <li id="base_nav_li"><a href="{% url 'prices' location %}">{% trans "Price"%}</a></li>
            <li id="base_nav_li"><a href="{% url 'services' location %}">{% trans "Services"%}</a></li>
            <li id="base_nav_li"><a href="{% url 'timetable' location %}">{% trans "Timetable"%}</a></li>
            <li id="base_nav_li"><a href="{% url 'staff' location %}">{% trans "Staff"%}</a></li>
            <li id="base_nav_li"><a href="{% url 'contact_with_location' location %}">{% trans "Contact"%}</a></li>
            <li id="base_nav_li">
              <form method="post" action="{% url 'set_language' %}" >
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()" id="language_select">
                  <!-- prettier-ignore-start -->
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %} 
                  {% get_language_info_list for LANGUAGES as languages %} 
                  {% for  language in languages %} {% if language.code == LANGUAGE_CODE%}
                  <option value="{{ language.code }}" selected id="language_option">{{language.code|upper}}</option>
                  {%else%}
                  <option value="{{ language.code }}" id="language_option">{{language.code|upper}}</option>
                  {%endif%}
                  {% endfor %}
                  <!-- prettier-ignore-end -->
                </select>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <main style="flex: 1">{% block content%} {% endblock %}</main>

    <footer>
      <div id="footer_layout">
        <div>
          <img id="footer_image" src="{% static 'images/logo.png' %}" />
        </div>
        <div>
          <p>Carrer de Marbella, 15,</p>
          <p>Playa de Palma, 07600 Palma, Balearic Islands</p>
        </div>
        <div id="footer_number">971261783</div>
      </div>
    </footer>
    
    <script src="{% static 'js/global.js' %}"></script>
  </body>
</html>

<!-- superuser/ username : steven123 / email : / password: mancuernas-->


 <!-- very messy i know, django wont allow me to type"==" inside the option tag-->
  <!-- CODE TO USE IF PRETTIER MESSES WITH DJANGO SYNTAX FORMATTING
 <select name="language" onchange="this.form.submit()">
  {%if LANGUAGE_CODE == "en" %}
  <option value="en" selected>EN</option>
  {% else %}
  <option value="en">EN</option>
  {% endif %} {%if LANGUAGE_CODE == "es" %}
  <option value="es" selected>ES</option>
  {% else %}
  <option value="es">ES</option>
  {% endif %} {%if LANGUAGE_CODE == "de" %}
  <option value="de" selected>DE</option>
  {% else %}
  <option value="de">DE</option>
  {% endif %}
-->